*.txt
machine_learning/.ipynb_checkpoints/*
*.csv
*.html
*.tex
*.json
*.png
*.pdf
*.svg
differential_expression/.ipynb_checkpoints/*
*.bed
*.Identifier
*/.ipynb_checkpoints/*
*.rds
differential_expression/expression_partitioning_downstream/.ipynb_checkpoints/*
*.bed*
*.genome
codedev_homer_to_meme.ipynb
./.ipynb_checkpoints/*
.ipynb_checkpoints/
*.motif
fimo_all_out/
*.pptx
*.xlsx
*/*.Rhistory
*.blocks
*.tsv
*/*.tsv
*.RData
*/*.RData
masigpro/inputdata_3reps/
masigpro/C3+CAM_newsets_inputdata_maSigPro/
differential_expression/expression_partitioning_downstream/.Rhistory
go.obo
masigpro/masigpro_Yg_singlereps.R
.Rhistory
cb_2018_us_state_500k/
